.menu{
    display: flex;
}

.menu-items{
    width: 25%;
background-color:gold;

}
.menu-items:hover{
    width:35%;
    transition: 0.5s;
    background-color: crimson;


}
.menu-link:hover{
    color: white
}
.menu-link{
    display: block;
    text-decoration: none;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

}

.search-form{
    display: flex;
    height:40px;
    
}

.search-form input[type="search"]{
    flex: 1;   
    margin-right: 1rem;
    border:none;
    border-radius:0.3em;

}

.search-form input[type="submit"]{
    background-color: gold;
    border:none;
    border-radius:0.3em;
    font-size: 1rem;
    width: 4em;
}

.info-list{
}
.info-list-item{
    display: flex;
    margin-bottom: 0.4em;
}
.info-list-item::before{
    content: "❤️";
margin-right: 1em;

}

.massage-items{
    display: flex;
    margin-bottom: 1em;
}
.user-photo{
    flex-shrink: 0;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
	background-position: center;
	background-size: 150%;
    border: 1px solid
}

.modal{
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    left: 0;
	right: 0;
    background-color: darkgray;
    height:100vh;
}

.dialog{
    background-color: aliceblue;
    border-radius: 1em;
 width: 40vw;
 padding: 4em;
  

}



.card-image img {
    display: none;
}
.card-item{
    display:flex;
    flex-direction: column;
}
.card-image{
	padding-bottom: 60%;
	background-color: lightgray;
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card-desc{
    background-color:white;
    margin-bottom: 1em;
    flex:1 ;
}
@media (min-width: 600px) {

    .card-list{
        display:flex;
        flex-wrap: wrap;
        margin: 0 -2rem;
    }
    .card-item{
        width: 50%;
        padding: 0 1rem;

    }
}