.menu{
    display: flex;
}

.menu-items{
    width: 25%;
background-color:gold;

}
.menu-items:hover{
    width:35%;
    transition: 0.5s;
    background-color: crimson;


}
.menu-link:hover{
    color: white
}
.menu-link{
    display: block;
    text-decoration: none;
    padding: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;

}

.search-form{
    display: flex;
    height:40px;
    
}

.search-form input[type="search"]{
    flex: 1;   
    margin-right: 1rem;
    border:none;
    border-radius:0.3em;

}

.search-form input[type="submit"]{
    background-color: gold;
    border:none;
    border-radius:0.3em;
    font-size: 1rem;
    width: 4em;
}

.info-list{
}
.info-list-item{
    display: flex;
    margin-bottom: 0.4em;
}
.info-list-item::before{
    content: "❤️";
margin-right: 1em;

}

.massage-items{
    display: flex;
    margin-bottom: 1em;
}
.user-photo{
    flex-shrink: 0;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gold;
    background-repeat: no-repeat;
	background-position: center;
	background-size: 150%;
    border: 1px solid
}